/* Global styling */
body {
    font-family: sans-serif;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    margin-top: 3em;
}

h1:first-of-type {
    margin-top: 0em;
}

h2 {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 2em;
}

h3 {
    font-size: 14pt;
    font-weight: normal;
    text-decoration: underline;
    margin-top: 1.5em;
}

li {
    padding: 0.5em;
}


/* The left sidebar and menu */
#sidebar {
    position: fixed;
    padding-left: 4em;
    width: 11em;
    background-color: white;
}

@media (max-width: 800px) {
    .sidebar {display: none;}
    #sidebar img {display: none;}
    #sidebarheading {display: none;}

    #sidebar {
        right: 0em;
        width: 100%;
        padding-top: 2em;
        background-color: white;
        border-bottom: 1px solid #e0e0e0;
        z-index: 1000;
    }

    #menu {
        margin-left: 0em;
        margin-right: 2em;
    }
}

@media (min-width: 801px) {
    .topbar {
        display: none;
    }

    #menu {
        margin-left: -1em;
        padding-left: 0em;
    }

    #sidebar {
        width: 11em;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }
}

#topbar {
    position: fixed;
    background-color: #f0f0fa;
    border-bottom: 1px solid #e0e0e0;
    left: 0em;
    right: 0em;
    top: 0em;
    height: 2.5em;
    padding-left: 0.5em;
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
    z-index: 1500;
}

#topbar img {
    height: 2em;
    float: right;
    padding-right: 1em;
    padding-top: 0.25em;
}

#topbar div {
    padding-top: 0.5em;
    float: left;
}

#sidebarheading {
    list-style: none;
    text-align: left;
    font-family: verdana;
    text-align: center;
    margin-left: -4em;
}

#menu {
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: verdana;
    list-style: none;
}

#menu li {
    padding: 0.5em;
    border-radius: 0.5em;
    padding-left: 1em;
}

#menu li.selected {
    border-radius: 0.5em;
    background-color: black;
    color: white;
}

#menu .selected a {
    color: white;
}

#menu li:hover.unselected {
    background-color: #f0f0fa;
}

#menu .selected .submenu li:hover {
    background-color: #505060;
}

#menu a {
    color: black;
    text-decoration: none;
}

ul.submenu {
    padding-right: 2em;
    padding-top: 0.5em;
    margin-left: -1em;
    margin-right: -1em;
}


/* Page content */
#content {
    position: absolute;
    margin: 3em;
    left: 16em;
    right: 16em;
    min-width: 30em;
}

@media (max-width: 800px) {
    #content {
        position: absolute;
        left: auto;
        right: auto;
        margin-left: 1em;
        margin-right: 1em;
        min-width: auto;
    }
}

.newslink {
    font-size: smaller;
}

.hide {
    display: none;
}

.lectures th {
    background-color: #f5f5fc;
}

pre {
    background-color: #f5f5fc;
    padding: 1.5em;
    margin-top: 1.5em;
    margin-left: 1.5em;
    max-width: 60em;
    border-radius: 0.5em;
    border: 1px solid #e0e0e0;
}


/* The quickref bar */
div.quickref {
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0em;
    right: 0em;
    height: 100%;
    background-color: #f5f5fc;
    border-left: 1px solid #e0e0e0;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 11pt;
}

.quickref a {
    color: black;
    text-decoration: none;
}

.quickref ul {
    padding-left: 1em;
}

@media (max-width: 1000px) {
    div.quickref {
        display: none;
    }
}


/* Content that needs to make use of the full page width */
.widecontent {
    position: absolute;
    margin: 3em;
    left: 16em;
    min-width: 30em;
}

@media (max-width: 800px) {
    .widecontent {
        position: absolute;
        left: auto;
        right: auto;
        margin-left: 1em;
        margin-right: 1em;
        min-width: auto;
    }
}
